networks:
    mlops-net:
        ipam:
            config:
                - subnet: 172.18.0.0/16
services:
    minio:
        restart: always
        image: minio/minio:RELEASE.2024-10-13T13-34-11Z
        container_name: minio
        ports:
            - "9000:9000"
            - "9001:9001"
        networks:
            mlops-net:
                ipv4_address: 172.18.0.9
        env_file:
            - .env
        command: server /data --console-address ':9001' --address ':9000'
        environment:
            - MINIO_ROOT_USER=${AWS_ACCESS_KEY_ID}
            - MINIO_ROOT_PASSWORD=${AWS_SECRET_ACCESS_KEY}
        volumes:
            - minio_data:/data

    mc:
        image: minio/mc:RELEASE.2024-10-29T15-34-59Z
        depends_on:
            - minio
        container_name: mc
        networks:
            mlops-net:
                ipv4_address: 172.18.0.2
        env_file:
            - .env
        entrypoint: >
            /bin/sh -c "
            /tmp/wait-for-it.sh minio:9000;
            /usr/bin/mc alias set minio http://minio:9000 ${AWS_ACCESS_KEY_ID} ${AWS_SECRET_ACCESS_KEY};
            /usr/bin/mc mb minio/${S3_MLFLOW_BUCKET};
            exit 0;
            "
        volumes:
            - ./wait-for-it.sh:/tmp/wait-for-it.sh
    mysql:
        restart: always
        image: mysql:8.0.31
        container_name: mysql
        ports:
            - "3306:3306"
        networks:
            mlops-net:
                ipv4_address: 172.18.0.3
        env_file:
            - .env
        environment:
            - MYSQL_DATABASE=${MYSQL_DATABASE}
            - MYSQL_USER=${MYSQL_USER}
            - MYSQL_PASSWORD=${MYSQL_PASSWORD}
            - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
            - MYSQL_ROOT_HOST="%"
        volumes:
            - dbdata:/var/lib/mysql
            # Directory with *sql files to initialize DB
            - "${PWD}/sql_scripts:/docker-entrypoint-initdb.d"
        command: --authentication_policy=mysql_native_password
    mlflow:
        restart: always
        build: ./mlflow
        image: mlflow_server
        container_name: mlflow_server
        depends_on:
            - mysql
            - minio
        ports:
            - "5001:5000"
        networks:
            mlops-net:
                ipv4_address: 172.18.0.4
        env_file:
            - .env
        environment:
            - S3_MLFLOW_BUCKET=${S3_MLFLOW_BUCKET}
            - MLFLOW_S3_ENDPOINT_URL=http://minio:9000
            - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
            - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
        command: mlflow server --backend-store-uri mysql+pymysql://${MYSQL_USER}:${MYSQL_PASSWORD}@mysql:3306/${MYSQL_DATABASE} --artifacts-destination s3://${S3_MLFLOW_BUCKET}/ --serve-artifacts --host 0.0.0.0
    gitea:
        restart: always
        image: gitea/gitea:1.25
        container_name: gitea
        environment:
         - USER_UID=1000
         - USER_GID=1000
         - GITEA__database__DB_TYPE=mysql
         - GITEA__database__HOST=mysql:3306
         - GITEA__database__NAME=gitea
         - GITEA__database__USER=gitea
         - GITEA__database__PASSWD=gitea
         - GITEA__webhook__ALLOWED_HOST_LIST=*
         - GITEA__actions__ENABLED=true
         - GITEA__actions__DEFAULT_ACTIONS_URL=https://gitea.com
        networks:
            mlops-net:
                ipv4_address: 172.18.0.5
        env_file:
            - .env
        volumes:
         - ./gitea:/data
         - /etc/timezone:/etc/timezone:ro
         - /etc/localtime:/etc/localtime:ro
        ports:
         - "3000:3000"
         - "222:22"
        depends_on:
         - mysql
    gitea-runner:
        image: gitea/act_runner:latest
        container_name: gitea-runner
        environment:
        - GITEA_INSTANCE_URL=http://gitea:3000
        - GITEA_RUNNER_REGISTRATION_TOKEN=${GITEA_RUNNER_TOKEN}
        networks:
            mlops-net:
                ipv4_address: 172.18.0.10
        volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        depends_on:
        - gitea
    jenkins:
        restart: always
        image: veribilimiokulu/jenkins:ltsjdk17-ansible9.5.1
        container_name: jenkins
        ports:
            - "8080:8080"
            - "50000:50000"
        networks:
            mlops-net:
                ipv4_address: 172.18.0.6
        env_file:
            - .env
        volumes:
         - jenkins_home:/var/jenkins_home
         - "/var/run/docker.sock:/var/run/docker.sock"
    prod:
        image: veribilimiokulu/mlops-prod-server:rocky8.6-python3.12
        container_name: prod_server
        hostname: prod_server
        privileged: true
        ports:
            - "8000:8000"
            - "2222:22"
        networks:
            mlops-net:
               ipv4_address: 172.18.0.7
        env_file:
            - .env
        security_opt:
          - seccomp:unconfined
        tmpfs:
          - /run
          - /run/lock
        volumes:
            - ./prod/home/.ssh:/home/prod_user/.ssh
            - /sys/fs/cgroup:/sys/fs/cgroup:ro
        environment:
            - MLFLOW_S3_ENDPOINT_URL=http://minio:9000
            - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
            - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
    test:
        image: veribilimiokulu/mlops-test-server:rocky8.6-python3.12
        container_name: test_server
        hostname: test_server
        privileged: true
        ports:
            - "8001:8001"
            - "2223:22"
        networks:
            mlops-net:
              ipv4_address: 172.18.0.8
        env_file:
            - .env
        security_opt:
          - seccomp:unconfined
        tmpfs:
          - /run
          - /run/lock
        volumes:
            - ./test/home/.ssh:/home/test_user/.ssh
            - /sys/fs/cgroup:/sys/fs/cgroup:ro
        environment:
            - MLFLOW_S3_ENDPOINT_URL=http://minio:9000
            - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
            - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
volumes:
    dbdata:
    minio_data:
    jenkins_home: